@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

body {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0%
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.card-title {
    font-size: 19px;
}